{% extends "index.html" %}
{% block title %}
{{ super() }}
{% endblock %}
{% block head %}
<!-- add header stuff -->
{{ super() }}
{% endblock %}

{% block content %}

<!-- Container for the sign in status and user info -->
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
    <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
        <h2 class="mdl-card__title-text">User details</h2>
    </div>

    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <!-- Container where we'll display the user details -->
        <div class="user-details-container">
            Firebase sign-in status: <span id="sign-in-status"></span>
            <div id="user-data">
                {% if user_data %}
                <br>
                <div>
                    Firebase auth
                </div>
                <div>
                    Name <b>{{ user_data['name'] }}</b>
                </div>
                <div>
                    Email <b>{{ user_data['email'] }}</b>
                </div>
                <br>
                <dt>Last 10 visits</dt>
                <dd>
                    {% for time in times %}
                    {{ time['timestamp'] }}
                    <br>
                    {% endfor %}
                </dd>
                <br>
                <div><b>Object value</b></div>
                {% endif %}
            </div>
            <pre><code id="account-details"></code></pre>
        </div>

        <!-- Button that handles sign-out -->
        <button class="mdl-button mdl-js-button mdl-button--raised" id="sign-out">Sign-out</button>
    </div>
</div>


{% endblock %}