{% extends "base_site.html" %}

{% block title %} My Projects {% endblock title %}

{% block stylesheets %}
<!-- Specific CSS goes HERE -->
{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        My projects
        <small> - check your work</small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i>My Projects</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Jobs</h3>

            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" type="button"><i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-box-tool" data-widget="remove" type="button"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Deadline</th>
                        <th>Freelancer Email</th>
                        <th>Created</th>
                        <th>Job ID</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for project in project_list %}

                    <tr>
                        <td><a href="/see_project/{{ project['id'] }}">Project #{{ loop.index }}</a></td>
                        <td>{{ project['id'] }}</td>
                        <td>{{ project['deadline'] }}</td>
                        <td>{{ project['freelancer_email'] }}</td>
                        <td>{{ project['created_at'] }}$</td>
                        <td>{{ project['job_id'] }}</td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <a class="btn btn-sm btn-info btn-flat pull-right" href="{{ url_for('add_project') }}">Place New Project</a>
        </div>
        <!-- /.box-footer -->
    </div>

</section>
<!-- /.content -->

{% endblock content %}

{% block javascripts %}
<!-- Specific JS goes HERE -->
{% endblock %}