flask-marshmallow==0.12.0
Flask-Sitemap==0.3.0
Flask-SQLAlchemy==2.4.1
flask-caching
flask-swagger-ui
marshmallow-sqlalchemy==0.23.0
mkdocs==1.1
msgpack==1.0.0
mycli==1.21.1
nltk==3.5
oauthlib==3.1.0
prompt-toolkit==3.0.5
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.6.1
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pytz==2020.1
PyYAML==5.3.1
regex==2020.5.7
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
six==1.14.0
slack-export-viewer==1.0.2
soupsieve==2.0
SQLAlchemy==1.3.17
sqlparse==0.3.1
tabulate==0.8.7
terminaltables==3.1.0
tornado==6.0.4
tqdm==4.46.0
uritemplate==3.0.1
urllib3==1.25.9
wcwidth==0.1.9
Werkzeug==1.0.1
zipp==3.1.0
google
google-cloud==0.34.0
Flask==1.1.2
gunicorn==20.0.4
google-cloud-datastore==1.12.0
google-auth==1.14.2
requests==2.23.0
google-cloud-secret-manager==0.2.0
google-auth-oauthlib
firebase-admin
grpcio==1.27.2


