<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img alt="User Image" class="img-circle" src="{{ session['claims']['picture'] }}">
      </div>
      <div class="pull-left info">
        <p>
          <!--- current_user.username --->
          {{ session['claims']['name'] }}
        </p>
        <a href="/page-profile">
          <i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header"></li>
      <li>
        <a href="{{ url_for('dashboard') }}">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('my_projects') }}">
          <i class="fa fa-th"></i> <span>My Projects</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('my_jobs') }}">
          <i class="fa fa-th"></i> <span>My Jobs</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('categories') }}">
          <i class="fa fa-th"></i> <span>Categories</span>
        </a>
      </li>

      <li class="header"></li>
      <li><a href="#" id="sign-out-sidebar"><i class="fa fa-circle-o text-red"></i> <span>Logout</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
